<article class="kpi-card">
  <p class="kpi-card__title">{{ displayTitle() }}</p>
  <div class="kpi-card__value-container">
    <p [class.kpi-card__value--positive]="shouldBeGreen()" [class.kpi-card__value--negative]="shouldBeRed()" class="kpi-card__value">{{ formattedValue() }}</p>
    @if (shouldBeGreen()) {
      <span class="kpi-card__arrow kpi-card__arrow--up">↑</span>
    }
    @if (shouldBeRed()) {
      <span class="kpi-card__arrow kpi-card__arrow--down">↓</span>
    }
  </div>
</article>
